.wrapper

  = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          Sampleグループ
        %ul.left-header__members
          Member: &nbsp
          -#&nbspは空白スペースを表現
          %li.member
      .right-header
        %a.right-header__botton{:href=>"#"}
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            / &nbsp
          .upper-message__date
        .lower-message
          %p.lower-message__content
    .form
      .form__message
        type a message
      .form__mask
        .form__mask__image
        .hidden
      .form__submit
        Send
