@import "config/reset";
@import "config/variable";
@import "config/colors";
@import "mixins/mixin";
@import "modules/chat";
@import "modules/side_bar";
@import "modules/user";
@import "modules/flash";

body {
  height: 100%;
  .wrapper {
    height: 100%;
    display: flex;
  }
}


